<header>
    <nav class="w100 right">
        <!-- Icono menú Hamburguesa -->
        <div class="logo-mobile">
            <a href="/"></a>
        </div>
        <!-- End Icono menú Hamburguesa -->
        <!-- Menú Principal -->
        <div class="nav-main show">
            <div class="left pad10">
                <a href="javascript:history.back();">
                    <p class="pad-galeria verti-ali-left w100 left pad5t pad-tlt-h2-coti"><strong> Where in the world?</strong></p>
                </a>
            </div>
        </div>
    </nav>
</header>